*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: color('primary');
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  .u-backgroundColor--primary & {
    color: color('light');
  }
}

abbr[title], acronym[title] {
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font: #{$font-size} / 1 $font-primary;
  overflow-x: hidden;
  color: color('dark');
}

button {
  background: transparent;
  border: none;
}

hr {
  border: none;
  height: 1px;
  border-bottom: 1px solid color('dark');
  margin-top: $spacer/2;
  margin-bottom: $spacer;
  display: inline-block;
  width: 100%;
  opacity: 0.2;
  .u-backgroundColor--primary &,
  .u-backgroundColor--dark & {
    border-color: color('light');
  }
}

p {
  line-height: $line-height;
  padding-bottom: $spacer/2;
}

pre {
  margin-bottom: $spacer;
  max-width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

ul {
  padding-top: $spacer/2;
  padding-bottom: $spacer;
}

li {
  padding-bottom: $spacer/2;
}

label {
  display: block;
  font-weight: bold;
}

small {
  font-size: 0.8rem;
  color: darken(color('light'), 50%);
}

.Title, h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  padding-bottom: $spacer/2;
  text-transform: uppercase;

  &.tiny {
    font-size: 0.75rem;
  }

  &.small {
    font-size: 1rem;
  }

  &.medium {
    font-size: 1.5rem;
  }

  &.large {
    font-size: 2rem;
  }

  &.huge {
    font-size: 3rem;
  }

  &:only-child {
    padding-bottom: 0;
  }
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.75rem;
}
